custom_config/openvpn.conf
custom_config/ovpn_env.sh
custom_config/config/ccd
custom_config/config/pki
custom_config/config/openvpn.conf
/custom_config/config/ovpn_env.sh
/custom_config/config/*.bak
/custom_config/config/clients/
/custom_config/config/crl.pem

/server_management/clients/*.ovpn
