ovpn/custom_config/openvpn.conf
ovpn/custom_config/ovpn_env.sh
ovpn/custom_config/config/ccd
ovpn/custom_config/config/pki
ovpn/custom_config/config/openvpn.conf
/ovpn/custom_config/config/ovpn_env.sh
/custom_config/config/*.bak
/ovpn/custom_config/config/clients/
/ovpn/custom_config/config/crl.pem

/server_management/clients/*.ovpn
/ovpn/fastapi/passfile.secret
/telegram_bot/token.env.secret
/telegram_bot/tg_users.json.secret
